.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.error p {
  margin: 10px 0px;
  text-align: center;
}
.error button {
  background-color: #0b2183;
  padding: 8px 20px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  margin: 15px 0px;
}
@media (max-width: 360px) {
  .error h2 {
    font-size: 32px;
  }
}
